In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.to_csv("../data/raw/data.csv", index=False)

In [4]:
dicionario = pd.DataFrame([
    {
        "Variável": "total_bill (US$)",
        "Descrição": "Valor Total da Conta",
        "Tipo": "Quantitativa",
        "Subtipo": "Contínua"
    },{
        "Variável": "tip (US$)",
        "Descrição": "Valor da Gorjeta",
        "Tipo": "Quantitativa",
        "Subtipo": "Contínua"
    },{
        "Variável": "sex",
        "Descrição": "Sexo do Cliente",
        "Tipo": "Qualitativa",
        "Subtipo": "Nominal"
    },{
        "Variável": "smoker",
        "Descrição": "Se Cliente é Fumante",
        "Tipo": "Qualitativa",
        "Subtipo": "Nominal"
    },{
        "Variável": "day",
        "Descrição": "Dia da Semana",
        "Tipo": "Qualitativa",
        "Subtipo": "Ordinal"
    },{
        "Variável": "time",
        "Descrição": "Horário",
        "Tipo": "Qualitativa",
        "Subtipo": "Ordinal"
    },{
        "Variável": "size",
        "Descrição": "N.° de Pessoas na Mesa",
        "Tipo": "Quantitativa",
        "Subtipo": "Discreta"
    }
])
dicionario.to_csv("../data/external/dictionary.csv", index=False)
dicionario

           Variável               Descrição          Tipo   Subtipo
0  total_bill (US$)    Valor Total da Conta  Quantitativa  Contínua
1         tip (US$)        Valor da Gorjeta  Quantitativa  Contínua
2               sex         Sexo do Cliente   Qualitativa   Nominal
3            smoker    Se Cliente é Fumante   Qualitativa   Nominal
4               day           Dia da Semana   Qualitativa   Ordinal
5              time                 Horário   Qualitativa   Ordinal
6              size  N.° de Pessoas na Mesa  Quantitativa  Discreta