In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.to_csv("../data/raw/data.csv", index=False)

In [5]:
dicionario = pd.DataFrame([
    {
        "variavel": "total_bill (US$)",
        "descricao": "valor total da conta em dólares",
        "tipo": "quantitativa",
        "subtipo": "continua"
    },{
        "variavel": "tip (US$)",
        "descricao": "valor da gorjeta em dólares",
        "tipo": "quantitativa",
        "subtipo": "continua"
    },{
        "variavel": "sex",
        "descricao": "sexo do cliente",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "smoker",
        "descricao": "se cliente fuma",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "day",
        "descricao": "dia da semana",
        "tipo": "qualitativa",
        "subtipo": "ordinal"
    },{
        "variavel": "time",
        "descricao": "horario",
        "tipo": "qualitativa",
        "subtipo": "ordinal"
    },{
        "variavel": "size",
        "descricao": "pessoas na mesa",
        "tipo": "quantitativa",
        "subtipo": "discreta"
    }
])
dicionario.to_csv("../data/external/dictionary.csv", index=False)
dicionario

           variavel             descricao          tipo   subtipo
0  total_bill (US$)  valor total da conta  quantitativa  continua
1         tip (US$)      valor da gorjeta  quantitativa  continua
2               sex       sexo do cliente   qualitativa   nominal
3            smoker       se cliente fuma   qualitativa   nominal
4               day         dia da semana   qualitativa   ordinal
5              time               horario   qualitativa   ordinal
6              size       pessoas na mesa  quantitativa  discreta